<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="native-xhr-plugin"
        version="1.1.0">
	<name>NativeXHR</name>
	<description>Native XHR requests</description>
	<license>MIT</license>
	<keywords>native.xhr</keywords>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="NativeXHR">
				<param name="ios-package" value="NativeXHR"/>
			</feature>
		</config-file>

		<header-file src="src/ios/NativeXHR.h" />
		<source-file src="src/ios/NativeXHR.m" />
	</platform>

</plugin>
